.card {
  border: none !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0px !important;
  font-size: 60px;
}

.subtitle {
  margin: 0px !important;
  font-weight: 200;
}

.action-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.action-icon.full {
  font-size: 150px;
  height: 150px;
  width: 150px;
}
