<div class="container mb-3">
  <div class="my-4 text-center">
    <fa-icon [icon]="'passport'" size="6x"></fa-icon>
  </div>
  <div class="m-auto" style="max-width: 510px;">
    <h3 class="fs-3 fw-light text-center">Reset your password</h3>
    <div class="alert alert-dark rounded-3">
      <div #message_container></div>
      <form *ngIf="!code" [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordResetEmail()">
        <div class="mb-3">
          <label class="form-label">Enter your username or a verified email address and we will send you a password
            reset link to your primary email.</label>
          <input class="form-control" type="text" name="usernameOrEmail" formControlName="usernameOrEmail" autofocus
            [ngClass]="setValid(usernameOrEmail)" />
          <invalid-feedback [control]="usernameOrEmail" name="Username or email"></invalid-feedback>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success text-white"
            [disabled]="!forgotPasswordForm.valid || submitLoading">
            Send password reset mail <fa-icon *ngIf="submitLoading" [icon]="'spinner'" [spin]="true"
              [pulse]="true"></fa-icon>
          </button>
        </div>
      </form>
      <form *ngIf="code" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="password" formControlName="password"
            autocomplete="new-password" [ngClass]="setValid(password)" />
          <invalid-feedback [control]="password" name="Password"></invalid-feedback>
        </div>
        <div class="mb-3">
          <label class="form-label">Repeat Password</label>
          <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword"
            autocomplete="off" [ngClass]="setValid(confirmPassword)" />
          <invalid-feedback [control]="confirmPassword" name="Password"
            [messages]="{ equalTo: 'Passwords must be equals' }"></invalid-feedback>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success text-white"
            [disabled]="!passwordResetForm.valid || submitLoading">
            Reset Password <fa-icon *ngIf="submitLoading" [icon]="'spinner'" [spin]="true" [pulse]="true"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>