<mat-card class="card" [appearance]="$isSmallScreen ? 'outlined' : 'raised'" [class.full]="$isSmallScreen">
  @if (!code) {
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordResetEmail()">
      <mat-card-content class="content">
        <div class="content-header" [class.full]="$isSmallScreen">
          <div class="avatar">
            <mat-icon class="action-icon" [class.full]="!$isSmallScreen">badge</mat-icon>
          </div>
          <h1>Reset your password</h1>
        </div>
        <div class="content-fields" [class.full]="$isSmallScreen">
          <p class="mat-muted">
            Please enter your username or a verified email address and we will send you a password reset link to your primary email.
          </p>

          <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
            <mat-label>Email or username</mat-label>
            <input matInput formControlName="usernameOrEmail" />
            <mat-error>
              <invalid-feedback [control]="usernameOrEmail" name="Email or username"></invalid-feedback>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button class="mat-nowrap" matButton="tonal" [disabled]="!forgotPasswordForm.valid || submitLoading">
          @if (submitLoading) {
            <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
          }
          Send password reset email
        </button>
      </mat-card-actions>
    </form>
  } @else {
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-card-content class="content">
        <div class="content-header" [class.full]="$isSmallScreen">
          <div class="avatar">
            <mat-icon class="action-icon" [class.full]="!$isSmallScreen">lock_reset</mat-icon>
          </div>
          <h1>Reset your password</h1>
        </div>
        <div class="content-fields" [class.full]="$isSmallScreen">
          <p class="mat-muted">Please assign a new password for your account.</p>

          <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" *var="{ active: true } as hidden">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="password" />
            <button
              type="button"
              matIconButton
              matSuffix
              (click)="hidden.active = !hidden.active; $event.stopPropagation()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidden.active"
            >
              <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>
              <invalid-feedback [control]="password" name="Password"></invalid-feedback>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" *var="{ active: true } as hidden">
            <mat-label>Repeat Password</mat-label>
            <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="off" />
            <button
              type="button"
              matIconButton
              matSuffix
              (click)="hidden.active = !hidden.active; $event.stopPropagation()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidden.active"
            >
              <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>
              <invalid-feedback name="Password" [control]="confirmPassword" [messages]="{ equalTo: 'Passwords must be equals' }"></invalid-feedback>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button class="mat-nowrap" matButton="tonal" [disabled]="!resetPasswordForm.valid || submitLoading">
          @if (submitLoading) {
            <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
          }
          Reset password
        </button>
      </mat-card-actions>
    </form>
  }
</mat-card>
