@if (userLoading && !user) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!user) {
  <div class="justify-self-center flex flex-col items-center"><mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No account found</div>
} @else {
  <h2>
    Change password
    <mat-spinner class="inline-block! ml-2" diameter="24" [hidden]="!userLoading"></mat-spinner>
  </h2>
  <mat-divider class="mt-2!"></mat-divider>
  <form [formGroup]="passwordForm">
    <div class="md:max-w-100">
      <mat-form-field
        class="w-full mt-3"
        appearance="outline"
        [floatLabel]="'always'"
        [subscriptSizing]="'dynamic'"
        [hideRequiredMarker]="true"
        *var="{ active: true } as hidden"
      >
        <mat-label>Old password</mat-label>
        <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="oldPassword" autocomplete="off" />
        <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
          <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>
          <invalid-feedback name="Password" [control]="oldPassword"></invalid-feedback>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="w-full mt-3"
        appearance="outline"
        [floatLabel]="'always'"
        [subscriptSizing]="'dynamic'"
        [hideRequiredMarker]="true"
        *var="{ active: true } as hidden"
      >
        <mat-label>New password</mat-label>
        <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="newPassword" autocomplete="off" />
        <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
          <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>
          <invalid-feedback name="Password" [control]="newPassword"></invalid-feedback>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="w-full mt-3"
        appearance="outline"
        [floatLabel]="'always'"
        [subscriptSizing]="'dynamic'"
        [hideRequiredMarker]="true"
        *var="{ active: true } as hidden"
      >
        <mat-label>Confirm new password</mat-label>
        <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="confirmNewPassword" autocomplete="off" />
        <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
          <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>
          <invalid-feedback name="Password" [control]="confirmNewPassword" [messages]="{ equalTo: 'Passwords must be equals' }"></invalid-feedback>
        </mat-error>
      </mat-form-field>

      <button class="whitespace-nowrap mt-3" matButton="tonal" [disabled]="!passwordForm.valid || updateSubmitLoading" (click)="updatePassword()">
        @if (updateSubmitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Update password
      </button>
    </div>
    <h2 class="mt-6">Two-factor authentication</h2>
    <mat-divider class="mt-2!"></mat-divider>
    <p class="mt-3">
      Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to sign in.
    </p>
  </form>
}
