@use '@angular/material' as mat;

// Not used by now. It's for custom theme coloring
@use './themes/basic_theme-colors.scss';

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Roboto,
      density: 0
    )
  );

  font-family: Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

body {
  // Reset the user agent margin
  margin: 0;
}

// Utilities
.mat-muted {
  color: var(--mat-sys-outline);
}

// Styles for the multi-page menu component
.mat-multi-page-menu {
  width: 300px;
  border-radius: 12px !important;
}

.mat-multi-page-menu-submenu {
  order: 2;
  margin-left: 12px;
  margin-right: 0px !important;
}

.mat-menu-item-info {
  padding: 0px 12px;
  text-align: center;
}

.mat-menu-item-noicon {
  margin-left: 36px;
}

// Style for mat-dialog
.mat-mdc-dialog-surface {
  border-radius: 12px !important;
}

// Fixes mat-button positioning when it's inside a mat-form-field
button[matsuffix] {
  margin-right: 5px;
  margin-left: 3px;
}
