<ng-template #content let-modal>
  <mat-dialog-content>
    @if (confirmMessageType() === 'text') {
      <p class="mb-0">{{ confirmMessage }}</p>
    }
    @if (confirmMessageType() === 'template') {
      <ng-container [ngTemplateOutlet]="confirmTemplate" [ngTemplateOutletContext]="confirmData"></ng-container>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton class="secondary" (click)="rejectAction()">
      {{ rejectActionButton }}
    </button>
    <button matButton="filled" class="{{ confirmColor }}" (click)="confirmAction()">
      {{ confirmActionButton }}
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #content_password>
  <mat-dialog-content class="max-w-75!">
    @if (requiredPasswordMessageType() === 'text') {
      <p class="mb-4">{{ requiredPasswordMessage }}</p>
    }
    @if (requiredPasswordMessageType() === 'template') {
      <ng-container [ngTemplateOutlet]="requiredPasswordTemplate" [ngTemplateOutletContext]="requiredPasswordData"></ng-container>
    }
    <form [formGroup]="passwordForm">
      <mat-form-field
        appearance="outline"
        *var="{ active: true } as hidden"
        [floatLabel]="'always'"
        [subscriptSizing]="'dynamic'"
        [hideRequiredMarker]="true"
      >
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hidden.active ? 'password' : 'text'" />
        <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
          <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>
          <invalid-feedback name="Password" [control]="password"></invalid-feedback>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton class="secondary" [disabled]="checkPasswordLoading" (click)="rejectAction()">
      {{ rejectActionButton }}
    </button>
    <button
      matButton="filled"
      class="whitespace-nowrap {{ confirmColor }}"
      [disabled]="!passwordForm.valid || checkPasswordLoading"
      (click)="confirmActionPassword()"
    >
      {{ confirmActionButtonPassword }}
      @if (checkPasswordLoading) {
        <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
      }
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #content_verification_code_advice_default_message>
  <p>
    We need to verify your identity before you can proceed. We will send a verification code to your primary email (
    <b>
      {{ _auth.user?.primaryEmail?.address }}
    </b>
    ).
  </p>
  <p class="text-muted mb-0">Did you lost access to your primary email? Contact your email provider to recover your email account.</p>
</ng-template>

<ng-template #content_verification_code_advice let-modal>
  <mat-dialog-content>
    @if (requiredVerificationCodeAdviceMessageType() === 'text') {
      <p class="mb-0">
        {{ requiredVerificationCodeAdviceMessage }}
      </p>
    }
    @if (requiredVerificationCodeAdviceMessageType() === 'template') {
      <ng-container
        [ngTemplateOutlet]="requiredVerificationCodeAdviceTemplate || content_verification_code_advice_default_message"
        [ngTemplateOutletContext]="requiredVerificationCodeAdviceData"
      ></ng-container>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton class="secondary" (click)="rejectAction()">
      {{ rejectActionButton }}
    </button>
    <button
      matButton="filled"
      class="whitespace-nowrap {{ confirmColor }}"
      [disabled]="checkVerificationCodeAdviceLoading"
      (click)="confirmActionVerificationCodeAdvice()"
    >
      {{ confirmActionButtonVerificationCodeAdvice }}
      @if (checkVerificationCodeAdviceLoading) {
        <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
      }
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #content_verification_code_default_message>
  <p>
    Please enter the verification code sended to <b>{{ _auth.user?.primaryEmail?.address }}</b> to confirm.
  </p>
</ng-template>

<ng-template #content_verification_code>
  <mat-dialog-content>
    @if (requiredVerificationCodeMessageType() === 'text') {
      <p>
        {{ requiredVerificationCodeMessage }}
      </p>
    }
    @if (requiredVerificationCodeMessageType() === 'template') {
      <ng-container
        [ngTemplateOutlet]="requiredVerificationCodeTemplate || content_verification_code_default_message"
        [ngTemplateOutletContext]="requiredVerificationCodeData"
      ></ng-container>
    }
    <form [formGroup]="verificationCodeForm">
      <div class="mt-3">
        <ng-otp-input
          name="verificationCode"
          [formControl]="verificationCode"
          [config]="{
            length: 6,
            letterCase: 'Upper'
          }"
        ></ng-otp-input>
      </div>
    </form>
    <p class="mt-3 flex flex-row items-center justify-items-center">
      <a
        class="text-info cursor-pointer"
        [class.text-muted]="checkVerificationCodeAdviceLoading"
        (click)="!checkVerificationCodeAdviceLoading && sendVerificationCode()"
      >
        Didn't receive your code or is expired? Send it again.
      </a>
      @if (checkVerificationCodeAdviceLoading) {
        <mat-icon class="ml-2"><mat-spinner diameter="17"></mat-spinner></mat-icon>
      }
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton class="secondary" [disabled]="checkVerificationCodeLoading" (click)="rejectAction()">
      {{ rejectActionButton }}
    </button>
    <button
      matButton="filled"
      class="whitespace-nowrap {{ confirmColor }}"
      [disabled]="!verificationCodeForm.valid || checkVerificationCodeLoading"
      (click)="confirmActionVerificationCode()"
    >
      {{ confirmActionButtonVerificationCode }}
      @if (checkVerificationCodeLoading) {
        <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
      }
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-content></ng-content>
