<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <p class="mb-0" *ngIf="confirmMessageType() == 'text'">{{ confirmMessage }}</p>
      <ng-container *ngIf="confirmMessageType() == 'template'" [ngTemplateOutlet]="confirmTemplate"
        [ngTemplateOutletContext]="confirmData"></ng-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm text-body" (click)="rejectAction()" ngbAutofocus>
        {{ rejectActionButton }}
      </button>
      <button type="button" class="btn btn-{{ confirmColor }} btn-sm" (click)="confirmAction()">
        {{ confirmActionButton }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content_password>
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-group">
        <p class="mb-0" *ngIf="requiredPasswordMessageType() == 'text'">{{ requiredPasswordMessage }}</p>
        <ng-container *ngIf="requiredPasswordMessageType() == 'template'" [ngTemplateOutlet]="requiredPasswordTemplate"
          [ngTemplateOutletContext]="requiredPasswordData"></ng-container>
        <div id="message_container_password"></div>
        <form [formGroup]="passwordForm">
          <div class="mt-3">
            <input class="form-control bg-dark-subtle" type="password" name="password" formControlName="password"
              [ngClass]="setValid(password)" />
            <invalid-feedback [control]="password" name="Password"></invalid-feedback>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm text-body border-0" (click)="rejectAction()"
        [disabled]="checkPasswordLoading" ngbAutofocus>
        {{ rejectActionButton }}
      </button>
      <button type="button" class="btn btn-{{ confirmColor }} btn-sm" (click)="confirmActionPassword()"
        [disabled]="!passwordForm.valid || checkPasswordLoading">
        {{ confirmActionButtonPassword }} <fa-icon *ngIf="checkPasswordLoading" [icon]="'spinner'" [spin]="true"
          [pulse]="true"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content_verification_code_advice_default_message>
  <p>We need to verify your identity before you can proceed. We will send a verification code to your primary email
    (<b>{{ auth.user?.primaryEmail?.address }}</b>).</p>
  <p class="mb-0 text-muted">Did you lost access to your primary email? Contact your email provider to recover your
    email account.</p>
</ng-template>

<ng-template #content_verification_code_advice let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div id="message_container_verification_code_advice"></div>
      <p class="mb-0" *ngIf="requiredVerificationCodeAdviceMessageType() == 'text'">
        {{ requiredVerificationCodeAdviceMessage }}
      </p>
      <ng-container *ngIf="requiredVerificationCodeAdviceMessageType() == 'template'"
        [ngTemplateOutlet]="requiredVerificationCodeAdviceTemplate || content_verification_code_advice_default_message"
        [ngTemplateOutletContext]="requiredVerificationCodeAdviceData"></ng-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm text-body" (click)="rejectAction()" ngbAutofocus>
        {{ rejectActionButton }}
      </button>
      <button type="button" class="btn btn-{{ confirmColor }} btn-sm" (click)="confirmActionVerificationCodeAdvice()"
        [disabled]="checkVerificationCodeAdviceLoading">
        {{ confirmActionButtonVerificationCodeAdvice }} <fa-icon *ngIf="checkVerificationCodeAdviceLoading"
          [icon]="'spinner'" [spin]="true" [pulse]="true"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content_verification_code_default_message>
  <p>Please enter the verification code sended to <b>{{ auth.user?.primaryEmail?.address }}</b> to confirm.</p>
</ng-template>

<ng-template #content_verification_code>
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-group">
        <p class="mb-0" *ngIf="requiredVerificationCodeMessageType() == 'text'">
          {{ requiredVerificationCodeMessage }}
        </p>
        <ng-container *ngIf="requiredVerificationCodeMessageType() == 'template'"
          [ngTemplateOutlet]="requiredVerificationCodeTemplate || content_verification_code_default_message"
          [ngTemplateOutletContext]="requiredVerificationCodeData"></ng-container>
        <div id="message_container_verification_code"></div>
        <form [formGroup]="verificationCodeForm">
          <div class="mt-3">
            <ng-otp-input class="text-center" name="verificationCode" [formCtrl]="verificationCode"
              [config]="{ length: 6, letterCase: 'Upper', inputClass: 'bg-body-secondary text-body-tertiary no-outline' }"></ng-otp-input>
            <invalid-feedback [control]="verificationCode" name="Verification code"></invalid-feedback>
          </div>
        </form>
        <p class="mt-3 mb-0">
          <a class="link-info pe-pointer" (click)="!checkVerificationCodeAdviceLoading && sendVerificationCode()">
            Didn't receive your code or is expired? Send it again. <fa-icon *ngIf="checkVerificationCodeAdviceLoading"
              [icon]="'spinner'" [spin]="true" [pulse]="true"></fa-icon>
          </a>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm text-body border-0" (click)="rejectAction()"
        [disabled]="checkVerificationCodeLoading" ngbAutofocus>
        {{ rejectActionButton }}
      </button>
      <button type="button" class="btn btn-{{ confirmColor }} btn-sm" (click)="confirmActionVerificationCode()"
        [disabled]="!verificationCodeForm.valid || checkVerificationCodeLoading">
        {{ confirmActionButtonVerificationCode }} <fa-icon *ngIf="checkVerificationCodeLoading" [icon]="'spinner'"
          [spin]="true" [pulse]="true"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-content></ng-content>