<div class="container mb-3">
  <h1 class="mt-3">App</h1>
  <p>
    <b><i>In development app template...</i></b>
  </p>

  <button
    (click)="
      messages.success(
        'Mus pellentesque id sollicitudin mattis si facilisis vel in. Ante finibus ultrices class nullam dis. Pede pulvinar mi sed maecenas dis.',
        { onlyOne: true }
      )
    "
  >
    message
  </button>
  <button
    (click)="
      messages.success(
        'Mus pellentesque id sollicitudin mattis si facilisis vel in. Ante finibus ultrices class nullam dis. Pede pulvinar mi sed maecenas dis. 2'
      )
    "
  >
    message
  </button>
</div>
