@if (usersLoading && !users) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!users) {
  <div class="flex flex-col items-center justify-self-center"><mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No account found</div>
} @else {
  <h1 class="flex flex-row flex-wrap items-center gap-2">
    <span class="shrink-0">Users</span>
    <search
      class="grow"
      [attributes]="usersAttributes"
      [loading]="usersLoading"
      [searchString]="usersSearchParams.search"
      (searchStringChange)="searchUsers({ search: $event, page: 0, refresh: true })"
    ></search>
    <!-- <mat-spinner class="inline-block! ml-2" diameter="24" [hidden]="!usersLoading"></mat-spinner>
    <button matIconButton class="shrink-0" [disabled]="usersLoading" (click)="getUsers()">
      <mat-icon>refresh</mat-icon>
    </button> -->
  </h1>
  <mat-divider class="mt-2!"></mat-divider>
  <div [class.loading]="usersLoading">
    @if (!users.length) {
      <div class="mt-3 flex flex-col items-center justify-self-center">
        <mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No users found
      </div>
    }
    @if (users.length) {
      <div class="flex flex-row items-center">
        <mat-paginator
          class="shrink-0"
          [length]="usersCount"
          [pageIndex]="usersSearchParams.page"
          [pageSize]="usersSearchParams.pageSize"
          [hidePageSize]="true"
          (page)="searchUsers({ page: $event.pageIndex, pageSize: $event.pageSize })"
        >
        </mat-paginator>
        @if (!$isSmallScreen) {
          <div class="w-full text-end">
            <mat-button-toggle-group [value]="usersSearchParams.pageView" (change)="searchUsers({ pageView: $event.value })">
              <mat-button-toggle value="columns">
                <mat-icon>view_column</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="rows">
                <mat-icon>view_headline</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        }
      </div>

      <ngx-masonry class="-mx-1" #masonry [options]="{ percentPosition: true, horizontalOrder: false }" [ordered]="true">
        @for (user of users; track trackByUser(user)) {
          <div
            class="masonry-item mb-2 w-full px-1"
            [class]="usersSearchParams.pageView === 'columns' ? ['md:w-1/2', 'xl:w-1/3'] : []"
            ngxMasonryItem
          >
            <user-card
              [user]="user"
              [masonry]="masonry"
              [loading]="submitLoading.includes(user.id!)"
              (deleted)="searchUsers({ page: 0, refresh: true })"
              (sessionClosed)="searchUsers({ refresh: true })"
            ></user-card>
          </div>
        }
      </ngx-masonry>

      <mat-paginator
        [length]="usersCount"
        [pageIndex]="usersSearchParams.page"
        [pageSize]="usersSearchParams.pageSize"
        [pageSizeOptions]="[10, 25, 50, 75, 100]"
        (page)="searchUsers({ page: $event.pageIndex, pageSize: $event.pageSize })"
      >
      </mat-paginator>
    }
  </div>
}
