@if (userLoading && !user) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!user) {
  <div class="justify-self-center flex flex-col items-center"><mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No account found</div>
} @else {
  <h2>
    Change username
    <mat-spinner class="inline-block! ml-2" diameter="24" [hidden]="!userLoading"></mat-spinner>
  </h2>
  <mat-divider class="mt-2!"></mat-divider>
  <form [class.loading]="userLoading" [formGroup]="usernameForm">
    <div class="md:max-w-100">
      <mat-form-field class="w-full mt-3" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
        <input matInput formControlName="username" autocomplete="off" />
        <mat-icon matPrefix>person_pin_circle</mat-icon>
        <mat-icon matSuffix>
          @if (username.pending) {
            <mat-spinner diameter="20"></mat-spinner>
          }
        </mat-icon>
        <mat-error>
          <invalid-feedback
            name="Username"
            [control]="username"
            [messages]="{ pattern: 'Username can only have characters, numbers and _ or - symbols' }"
          ></invalid-feedback>
        </mat-error>
      </mat-form-field>
      <button
        class="whitespace-nowrap mt-3"
        matButton="tonal"
        [disabled]="!usernameForm.valid || updateSubmitLoading || deleteSubmitLoading"
        (click)="updateUsername()"
      >
        @if (updateSubmitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Update profile
      </button>
    </div>

    <h2 class="mt-6 text-error">Delete account</h2>
    <mat-divider class="mt-2!"></mat-divider>
    <p class="mt-3">Once you delete your account, there is no going back. Please be certain.</p>
    <button
      class="error whitespace-nowrap mt-3"
      matButton="outlined"
      [disabled]="updateSubmitLoading || deleteSubmitLoading"
      (click)="confirmDelete.open(); $event.preventDefault()"
    >
      @if (deleteSubmitLoading) {
        <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
      }
      Delete your account
    </button>
    <confirm #confirmDelete (confirm)="deleteUser($event)" [requiredPassword]="true" [requiredVerificationCode]="true"></confirm>
  </form>
}
