@if (userLoading && !user) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!user) {
  <mat-icon>search_off</mat-icon> No account found
} @else {
  <h2>
    Change username
    <mat-spinner class="inline-block! ml-[8px]" diameter="24" [hidden]="!userLoading" [class.disabled]="userLoading"></mat-spinner>
  </h2>
  <mat-divider class="m-[8px_0px]!"></mat-divider>
  <form [class.loading]="userLoading" [formGroup]="usernameForm">
    <div class="md:max-w-[400px]">
      <mat-form-field class="w-full mt-[16px]" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
        <input matInput formControlName="username" autocomplete="off" />

        <mat-icon matSuffix>
          @if (username.pending) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            person
          }
        </mat-icon>

        <mat-error>
          <invalid-feedback
            name="Username"
            [control]="username"
            [messages]="{ pattern: 'Username can only have characters, numbers and _ or - symbols' }"
          ></invalid-feedback>
        </mat-error>
      </mat-form-field>
      <button
        class="whitespace-nowrap mt-[16px]"
        matButton="tonal"
        [disabled]="!usernameForm.valid || updateSubmitLoading || deleteSubmitLoading"
        (click)="updateUsername()"
      >
        @if (updateSubmitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Update profile
      </button>
    </div>

    <h2 class="mt-[24px] text-error">Delete account</h2>
    <mat-divider class="m-[8px_0px]!"></mat-divider>
    <p class="mt-[16px]">Once you delete your account, there is no going back. Please be certain.</p>
    <button
      class="error whitespace-nowrap mt-[16px]"
      matButton="outlined"
      [disabled]="updateSubmitLoading || deleteSubmitLoading"
      (click)="confirmDelete.open(); $event.preventDefault()"
    >
      @if (deleteSubmitLoading) {
        <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
      }
      Delete your account
    </button>
    <confirm #confirmDelete (confirm)="deleteUser($event)" [requiredPassword]="true" [requiredVerificationCode]="true"></confirm>
  </form>
}
