<mat-card class="operation-card" [appearance]="$isSmallScreen ? 'outlined' : 'raised'">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card-content class="operation-content">
      <div class="operation-content-left">
        <mat-icon class="icon-size-[75px]">fingerprint</mat-icon>
        <h1 class="mt-[16px]">Sign in to App</h1>
        <p class="text-muted mt-[16px]">Please enter your credentials to continue.</p>
      </div>
      <div class="operation-content-right">
        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <mat-label>Email or username</mat-label>
          <input matInput formControlName="usernameOrEmail" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>
            <invalid-feedback name="Email or username" [control]="usernameOrEmail"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" *var="{ active: true } as hidden">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="password" />
          <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
            <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <invalid-feedback name="Password" [control]="password"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <a matButton class="self-end" routerLink="/password-reset">Forgot password?</a>
      </div>
    </mat-card-content>
    <mat-card-actions class="operation-actions">
      <a matButton class="whitespace-nowrap" routerLink="/register">Sign up</a>
      <button class="whitespace-nowrap" matButton="tonal" [disabled]="!loginForm.valid || submitLoading">
        @if (submitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Sign in
      </button>
    </mat-card-actions>
  </form>
</mat-card>
