<mat-card class="max-sm:p-0 max-sm:border-0! p-[24px] pb-[20px] m-auto mt-[16px] max-w-[750px]" [appearance]="$isSmallScreen ? 'outlined' : 'raised'">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card-content class="content">
      <div class="content-header" [class.full]="$isSmallScreen">
        <div class="avatar">
          <mat-icon class="action-icon">fingerprint</mat-icon>
        </div>
        <h1>Sign in to App</h1>
        <p class="mat-muted">Please enter your credentials to continue.</p>
      </div>
      <div class="content-fields" [class.full]="$isSmallScreen">
        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <mat-label>Email or username</mat-label>
          <input matInput formControlName="usernameOrEmail" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>
            <invalid-feedback name="Email or username" [control]="usernameOrEmail"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" *var="{ active: true } as hidden">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="password" />
          <button
            type="button"
            matIconButton
            matSuffix
            (click)="hidden.active = !hidden.active; $event.stopPropagation()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidden.active"
          >
            <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <invalid-feedback name="Password" [control]="password"></invalid-feedback>
          </mat-error>
        </mat-form-field>
        <a matButton class="forgot-button" routerLink="/password-reset">Forgot password?</a>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <a matButton class="whitespace-nowrap" routerLink="/register">Sign up</a>
      <button class="whitespace-nowrap" matButton="tonal" [disabled]="!loginForm.valid || submitLoading">
        @if (submitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Sign in
      </button>
    </mat-card-actions>
  </form>
</mat-card>
