.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  border-radius: 0;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  position: fixed;
  height: calc(100vh - 64px);
  width: 82px;
}

.nav.full {
  width: 240px;
}

.nav.hidden {
  display: none;
}

.nav-list {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav-list-item {
  border-radius: 10px !important;
}

.nav-list-item.small {
  flex-direction: column;
  padding: 12px 0px;
  height: 68px;
}

.nav-list-item.small span {
  font-size: 10px;
}

.content {
  display: flex;
  padding: 0px 8px;
  margin-left: 82px;
  justify-content: center;
}

.content.full {
  margin-left: 240px;
}

.content.expanded {
  padding: 0px 24px;
  margin-left: 0px;
}

.toolbar {
  gap: 6px;
  //   background-color: light-dark(rgba(#faf9fd, 0.8), rgba(#121316, 0.8));
  //   backdrop-filter: blur(5px);
  //   -webkit-backdrop-filter: blur(5px);
}

.toolbar.fixed {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: 500;
  gap: 4px;
}

.profile-button {
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

::ng-deep .menu {
  border-radius: 12px !important;
}

.menu-profile {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 12px;
  padding: 4px 12px;
}

.menu-profile-img {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
}

.menu-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.menu-profile-name {
  font-weight: 500;
  font-size: 20px;
  height: 24px;
}
