<mat-sidenav-container class="h-[100vh]">
  <!-- Sidenav -->
  <mat-sidenav #drawer class="w-[240px]! rounded-none!" mode="over" [fixedInViewport]="true" role="navigation" [autoFocus]="false">
    <!-- Sidenav Toolbar -->
    <ng-container [ngTemplateOutlet]="toolbar"></ng-container>
    <!-- Sidenav Navigation -->
    <ng-container [ngTemplateOutlet]="navigation"></ng-container>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <!-- Main Toolbar -->
    <ng-container [ngTemplateOutlet]="toolbar" [ngTemplateOutletContext]="{ fixed: true }"></ng-container>
    <!-- Main Navigation -->
    <div class="main-nav" [class.main-nav-full]="$isFullNav">
      <ng-container [ngTemplateOutlet]="navigation" [ngTemplateOutletContext]="{ fixed: true }"></ng-container>
    </div>
    <!-- Main Content -->
    <div class="main-content" [class.main-content-full]="$isFullNav">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #toolbar let-fixed="fixed">
  <mat-toolbar class="gap-[6px] {{ fixed ? 'sticky top-[0px] z-1000' : '' }}">
    <button matIconButton (click)="$isLargeScreen ? toggleFullNav() : drawer.toggle()" onclick="this.blur()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="flex gap-[4px] items-center ml-[8px] font-medium" routerLink="/">
      <mat-icon>logo_dev</mat-icon>
      <span>App</span>
    </a>
    @if (fixed) {
      <span class="grow"></span>
      @if (!auth.loading && auth.user) {
        <!-- User Logged In -->
        <button
          matIconButton
          class="w-[36px]! h-[36px]! p-[0px]! rounded-full! overflow-hidden!"
          [matMenuTriggerFor]="menu"
          (click)="menuPages.resetPages()"
        >
          <img [src]="auth.user.profile?.avatar" class="block w-full! h-full! object-cover" onerror="this.src='assets/images/default-user.png'" />
        </button>
      } @else if (!auth.loading) {
        <!-- Not Logged User -->
        <!-- Config Menu -->
        <div *var="{ section: 'main' } as configMenuOptions">
          <button matIconButton [matMenuTriggerFor]="menu" (click)="menuPages.resetPages()">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <!-- Sign In -->
        <a matButton="outlined" routerLink="/login">
          <mat-icon>account_circle</mat-icon>
          Sign in
        </a>
      } @else {
        <mat-spinner [diameter]="36"></mat-spinner>
      }
      <mat-menu #menu="matMenu" class="mat-multi-page-menu menu">
        <mat-multi-page-menu #menuPages="matMultiPageMenu">
          <menu-page>
            @if (!auth.loading && auth.user) {
              <div class="mat-menu-item-info flex! flex-row items-start gap-[12px] py-[4px] px-[12px]">
                <img
                  [src]="auth.user.profile?.avatar"
                  class="block w-[44px] h-[44px] rounded-full"
                  onerror="this.src='assets/images/default-user.png'"
                />
                <div class="flex flex-col justify-center items-start">
                  <b class="text-xl font-medium h-[24px]">{{ auth.user.profile?.name }}</b>
                  {{ '@' + auth.user.username }}
                </div>
              </div>
              <mat-divider></mat-divider>
              <a mat-menu-item routerLink="/{{ auth.user.username }}">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </a>
              <a mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
              </a>
              <mat-divider></mat-divider>
            }
            <button mat-menu-item [matMenuPageLink]="'appearance'">
              <mat-icon>dark_mode</mat-icon>
              <span
                >Appearance:
                @switch (themeService.theme) {
                  @case ('light dark') {
                    Device theme
                  }
                  @case ('light') {
                    Light theme
                  }
                  @case ('dark') {
                    Dark theme
                  }
                }
              </span>
              <mat-icon class="mat-multi-page-menu-submenu">chevron_right</mat-icon>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>translate</mat-icon>
              <span>Language: English</span>
              <mat-icon class="mat-multi-page-menu-submenu">chevron_right</mat-icon>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>language</mat-icon>
              <span>Location: Argentina</span>
              <mat-icon class="mat-multi-page-menu-submenu">chevron_right</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <a mat-menu-item routerLink="/settings" [disabled]="auth.loading || !auth.user">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </a>
            <mat-divider></mat-divider>
            <button mat-menu-item disabled>
              <mat-icon>feedback</mat-icon>
              <span>Send feedback</span>
            </button>
          </menu-page>
          <menu-page pageId="appearance" title="Appearance">
            <p class="text-muted mat-menu-item-info">Setting applies to this browser only</p>
            <button mat-menu-item (click)="themeService.set('light dark')">
              @if (themeService.theme === 'light dark') {
                <mat-icon>check</mat-icon>
              }
              <span [class.mat-menu-item-noicon]="themeService.theme !== 'light dark'">Use device theme</span>
            </button>
            <button mat-menu-item (click)="themeService.set('light')">
              @if (themeService.theme === 'light') {
                <mat-icon>check</mat-icon>
              }
              <span [class.mat-menu-item-noicon]="themeService.theme !== 'light'">Light theme</span>
            </button>
            <button mat-menu-item (click)="themeService.set('dark')">
              @if (themeService.theme === 'dark') {
                <mat-icon>check</mat-icon>
              }
              <span [class.mat-menu-item-noicon]="themeService.theme !== 'dark'">Dark theme</span>
            </button>
          </menu-page>
        </mat-multi-page-menu>
      </mat-menu>
    }
  </mat-toolbar>
</ng-template>

<ng-template #navigation let-fixed="fixed">
  <mat-nav-list class="flex! flex-col! gap-[6px]! p-[12px]! {{ fixed ? 'h-full!' : 'h-[calc(100%-64px)]' }}">
    @for (link of navLinks; track link.route) {
      @if (link.toBottom) {
        <span class="grow"></span>
      } @else if (link.auth == null || (link.auth && !auth.loading && auth.user) || (!link.auth && !auth.loading && !auth.user)) {
        <a
          class="nav-item"
          mat-list-item
          [routerLink]="link.route"
          routerLinkActive
          #route="routerLinkActive"
          [activated]="route.isActive"
          [routerLinkActiveOptions]="{ exact: link.exact || false }"
          [class.nav-item-sm]="fixed && (!$isLargeScreen || !$isFullNav)"
          (click)="drawer.close()"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    }
  </mat-nav-list>
</ng-template>
