@if (sessionsLoading && !sessions) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!sessions) {
  <div class="justify-self-center flex flex-col items-center"><mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No account found</div>
} @else {
  <h1>
    Devices
    <button matIconButton class="inline-block! float-end" [disabled]="sessionsLoading" (click)="getSessions()">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-spinner class="inline-block! ml-2" diameter="24" [hidden]="!sessionsLoading"></mat-spinner>
  </h1>
  <mat-divider class="mt-2!"></mat-divider>
  <div [class.loading]="sessionsLoading">
    @if (!sessions.length) {
      <div class="justify-self-center flex flex-col items-center mt-3">
        <mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No devices found
      </div>
    }
    @if (filter(sessions, { blockedAt: null, closedAt: null })?.length) {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-3">
        @for (session of sessions | filter: { blockedAt: null, closedAt: null }; track session.id) {
          <div class="col-span-1">
            <session-card [session]="session" [loading]="submitLoading.includes(session.id)" (onClose)="getSessions()"></session-card>
          </div>
        }
      </div>
    }
    @if (filter(sessions, { $or: { blockedAt: { $not: null }, closedAt: { $not: null } } })?.length) {
      <h2 class="mt-6">Closed sessions</h2>
      <mat-divider class="mt-2!"></mat-divider>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-3">
        @for (session of sessions | filter: { $or: { blockedAt: { $not: null }, closedAt: { $not: null } } }; track session.id) {
          <div class="col-span-1">
            <session-card [session]="session" [loading]="submitLoading.includes(session.id)" (onClose)="getSessions()"></session-card>
          </div>
        }
      </div>
    }
  </div>
}
