<mat-dialog-content>
  <p>{{ 'shared.leaveGuardWarning.leavePageQuestion' | transloco }}</p>
  <p>
    <b>{{ 'shared.leaveGuardWarning.leavePageWarning' | transloco }}</b>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton class="secondary" (click)="proceed(false)">{{ 'shared.leaveGuardWarning.leavePageCancel' | transloco }}</button>
  <button matButton="filled" class="error" (click)="proceed(true)">{{ 'shared.leaveGuardWarning.leavePageProceed' | transloco }}</button>
</mat-dialog-actions>
