@if (profile.loading()) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
}
@if (!profile.loading() && profile.user()) {
  <div class="centered-section">
    <div class="mx-0 my-4 flex flex-row gap-4">
      <img
        class="img-thumbnail h-30 w-30 rounded-full max-sm:h-18 max-sm:w-18 md:h-40 md:w-40"
        alt="Profile picture"
        onerror="this.src='assets/images/default-user.png'"
        [src]="profile.user()?.profile?.avatar"
      />
      <div class="flex flex-col">
        <h1 class="text-4xl max-sm:text-2xl">
          {{ profile.user()?.profile?.name }}
          @if (profile.user()?.primaryEmail?.verified) {
            <mat-icon>
              <verified-mark [verified]="profile.user()?.primaryEmail?.verified" />
            </mat-icon>
          }
        </h1>
        <h3 class="text-sm max-sm:text-xs">
          {{ '@' + profile.user()?.username }}
          @if (profile.user()?.profile?.location) {
            <span class="text-muted font-light"> · {{ profile.user()?.profile?.location }}</span>
          }
        </h3>
        @if (!$isSmallScreen) {
          <ng-container [ngTemplateOutlet]="bio"></ng-container>
          <ng-container [ngTemplateOutlet]="actions"></ng-container>
        }
      </div>
    </div>

    @if ($isSmallScreen) {
      <div class="mb-4 sm:hidden">
        <ng-container [ngTemplateOutlet]="bio"></ng-container>
        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </div>
    }

    <ng-template #bio>
      <div class="mt-3 cursor-pointer font-light" (click)="dialog.open(info)">
        <span class="text-muted">{{ $isSmallScreen ? profile.user()?.profile?.bio?.substring(0, 100) : profile.user()?.profile?.bio }}</span>
        <span class="font-bold"> ...more</span>
      </div>
    </ng-template>

    <ng-template #actions>
      @if (profile.user()?.id === auth.user?.id) {
        <div class="mt-3 max-sm:flex">
          <a matButton="tonal" class="grow" routerLink="/settings/profile">Edit Profile</a>
        </div>
      }
    </ng-template>

    <ng-template #info>
      <h2 mat-dialog-title class="dialog-with-close">
        {{ profile.user()?.profile?.name }}
        <button matIconButton [mat-dialog-close]="true">
          <mat-icon>close</mat-icon>
        </button>
      </h2>
      <mat-dialog-content>
        @if (profile.user()?.profile?.bio) {
          <h2>Description</h2>
          <p class="my-5">{{ profile.user()?.profile?.bio }}</p>
        }
        <h2>More info</h2>
        @if (profile.user()?.profile?.publicEmail?.address) {
          <p class="dialog-icon-item">
            <mat-icon>email</mat-icon>
            <a href="mailto:{{ profile.user()?.profile?.publicEmail?.address }}">{{ profile.user()?.profile?.publicEmail?.address }}</a>
          </p>
        }
        @if (profile.user()?.profile?.url) {
          <p class="dialog-icon-item">
            <mat-icon>language</mat-icon>
            <a href="{{ profile.user()?.profile?.url }}" target="_blank">{{ profile.user()?.profile?.url }}</a>
          </p>
        }
        @if (profile.user()?.profile?.location) {
          <p class="dialog-icon-item">
            <mat-icon>location_on</mat-icon>
            {{ profile.user()?.profile?.location }}
          </p>
        }
        <p class="dialog-icon-item"><mat-icon>info_outline</mat-icon> Joined at {{ profile.user()?.createdAt | amLocal | amDateFormat: 'LL' }}</p>
      </mat-dialog-content>
    </ng-template>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="headed-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">menu_book</mat-icon>
          Overview
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">web_stories</mat-icon>
          Posts
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-divider></mat-divider>
}
