.tab-icon {
  margin-right: 10px;
}

.header-container.large {
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  margin: 16px 0px;

  display: flex;
  flex-direction: row;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0px;
  font-size: 36px;
}

.name.small {
  font-size: 24px;
}

.username {
  margin: 0px;
  font-size: 14px;
}

.username.small {
  font-size: 12px;
}

.location {
  font-weight: 300;
}

.bio {
  font-weight: 300;
  margin: 12px 0px 0px 0px;
}

.more {
  font-weight: 700;
}

.more-title {
  display: flex;
  margin: 18px 0px 6px 0px;
  align-items: center;
}

.more-item {
  margin: 20px 0px;
  overflow-wrap: anywhere;

  display: flex;
  gap: 16px;
  align-items: center;
}

.more-item mat-icon {
  flex-shrink: 0;
}

.actions {
  margin: 12px 0px 0px 0px;
}

.actions.full {
  display: flex;
}

.action {
  flex-grow: 1;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar.small {
  width: 72px;
  height: 72px;
}

.avatar.large {
  width: 160px;
  height: 160px;
}
