@if (profile.loading()) {
  <mat-spinner diameter="60"></mat-spinner>
}
@if (!profile.loading() && profile.user()) {
  <div class="header-container" [class.large]="$isLargeScreen">
    <div class="header">
      <img
        class="avatar"
        [src]="profile.user()?.profile?.avatar"
        onerror="this.src='assets/images/default-user.png'"
        [class.small]="$isSmallScreen"
        [class.large]="$isLargeScreen"
      />
      <div class="info">
        <h1 class="name" [class.small]="$isSmallScreen">
          {{ profile.user()?.profile?.name }}
          <verified-mark [verified]="profile.user()?.primaryEmail?.verified" />
        </h1>
        <h3 class="username" [class.small]="$isSmallScreen">
          {{ '@' + profile.user()?.username }}
          @if (profile.user()?.profile?.location) {
            <span class="location mat-muted"> · {{ profile.user()?.profile?.location }}</span>
          }
        </h3>
        @if (!$isSmallScreen) {
          <ng-container *ngTemplateOutlet="bio"></ng-container>
          <ng-container *ngTemplateOutlet="actions"></ng-container>
        }
      </div>
    </div>

    @if ($isSmallScreen) {
      <div class="header-info">
        <ng-container *ngTemplateOutlet="bio"></ng-container>
        <ng-container *ngTemplateOutlet="actions"></ng-container>
      </div>
    }

    <ng-template #bio>
      <div class="bio cursor-pointer" (click)="dialog.open(info)">
        <span class="mat-muted">{{ profile.user()?.profile?.bio }}</span>
        <span class="more"> ...more</span>
      </div>
    </ng-template>

    <ng-template #actions>
      <div class="actions" [class.full]="$isSmallScreen">
        <a matButton="tonal" class="action" routerLink="/settings/profile">Edit Profile</a>
      </div>
    </ng-template>

    <ng-template #info>
      <h2 mat-dialog-title class="more-title">
        {{ profile.user()?.profile?.name }}
        <span class="grow"></span>
        <button matIconButton [mat-dialog-close]="true" autofocus="false">
          <mat-icon>close</mat-icon>
        </button>
      </h2>
      <mat-dialog-content>
        @if (profile.user()?.profile?.bio) {
          <h2>Description</h2>
          <p>{{ profile.user()?.profile?.bio }}</p>
        }
        <h2>More info</h2>
        @if (profile.user()?.profile?.publicEmail?.address) {
          <p class="more-item">
            <mat-icon>email</mat-icon>
            <a href="mailto:{{ profile.user()?.profile?.publicEmail?.address }}">{{ profile.user()?.profile?.publicEmail?.address }}</a>
          </p>
        }
        @if (profile.user()?.profile?.url) {
          <p class="more-item">
            <mat-icon>language</mat-icon>
            <a href="{{ profile.user()?.profile?.url }}" target="_blank">{{ profile.user()?.profile?.url }}</a>
          </p>
        }
        @if (profile.user()?.profile?.location) {
          <p class="more-item">
            <mat-icon>location_on</mat-icon>
            {{ profile.user()?.profile?.location }}
          </p>
        }
        <p class="more-item"><mat-icon>info_outline</mat-icon> Joined at {{ profile.user()?.createdAt | amLocal | amDateFormat: 'LL' }}</p>
      </mat-dialog-content>
    </ng-template>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">menu_book</mat-icon>
          Home
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">web_stories</mat-icon>
          Posts
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
}
