@if (userLoading && !user) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!user) {
  <mat-icon>search_off</mat-icon> No account found
} @else {
  <h1>
    Emails
    <mat-spinner class="inline-block! ml-[8px]" diameter="24" [hidden]="!userLoading" [class.disabled]="userLoading"></mat-spinner>
  </h1>
  <mat-divider class="m-[8px_0px]!"></mat-divider>
  <div [class.loading]="userLoading">
    <ul class="border-muted border-1 rounded-[8px]">
      @for (email of user.emails; let last = $last; track email) {
        <li class="p-[16px] border-muted" [class.border-b-1]="!last">
          <div class="flex w-full items-center h-[50px]">
            <p class="font-medium wrap-anywhere">
              {{ email.address }}&nbsp;
              @if (user.primaryEmail?.id === email.id) {
                <span>
                  <span class="text-muted">–</span>&nbsp;
                  <span class="text-success">Primary</span>
                </span>
              }
            </p>
            @if (user.primaryEmail?.id !== email.id) {
              <button
                matIconButton
                class="ml-auto error"
                (click)="confirmDelete.open(); $event.preventDefault()"
                [disabled]="removeEmailSubmitLoading"
              >
                @if (removeEmailSubmitLoading == email.id) {
                  <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
                } @else {
                  <mat-icon>delete</mat-icon>
                }
              </button>
              <confirm
                #confirmDelete
                (confirm)="removeEmail($event, email)"
                [requiredPassword]="true"
                [requiredVerificationCode]="true"
                requiredPasswordMessage="Please enter your password to continue."
              ></confirm>
            }
          </div>
          @if (user.primaryEmail?.id === email.id && email.verified) {
            <p class="text-muted text-sm mt-[16px]">
              This email will be used for account-related notifications and can also be used for password resets.
            </p>
          }
          <ul class="text-muted text-sm list-[circle] ml-[16px]">
            @if (email.verified) {
              <li class="mt-[16px]">
                <span class="text-info">Verified</span><br />
                <span class="small">
                  This email may be used as login method and for receive notifications. If it's configured as primary email, it can be used for reset
                  your password.
                </span>
              </li>
            }
            @if (!email.verified) {
              <li class="mt-[16px]">
                <span class="text-warning">Unverified</span>
                <a class="text-info ms-[16px] cursor-pointer" (click)="sendVerificationEmail(email)"> Resend verification email </a><br />
                <span class="text-sm">
                  Unverified email addresses cannot be used to reset your password, as a login method, for receive notifications or set as primary
                  email
                  @if (user.primaryEmail?.id === email.id) {
                    <span>(unless it's your first email)</span>
                  }
                  .
                </span>
              </li>
            }
            @if (email.verified) {
              <li class="mt-[16px]">
                <span>Visible in emails</span><br />
                <span class="text-sm"> This email can be visible in profile emails. </span>
              </li>
            }
            @if (!email.verified && user.primaryEmail?.id !== email.id) {
              <li class="mt-[16px]">
                <span>Not visible in emails</span><br />
                <span class="text-sm"> This email cannot be visible in profile emails. </span>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
    <h2 class="mt-[24px]">Add email address</h2>
    <mat-divider class="m-[8px_0px]!"></mat-divider>
    <form [formGroup]="addEmailForm">
      <div class="md:max-w-[400px]">
        <mat-form-field class="w-full mt-[16px]" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <input matInput formControlName="address" autocomplete="off" placeholder="{{ user.primaryEmail?.address }}" />
          <mat-icon matPrefix>email</mat-icon>
          <mat-icon matSuffix>
            @if (addEmailAddress?.pending) {
              <mat-spinner diameter="20"></mat-spinner>
            }
          </mat-icon>
          <mat-error>
            <invalid-feedback
              [control]="addEmailAddress"
              name="Email"
              [messages]="{ notIncludedIn: 'Email is already added to your account, please try another one' }"
            ></invalid-feedback>
          </mat-error>
        </mat-form-field>
        <button class="whitespace-nowrap mt-[16px]" matButton="tonal" [disabled]="!addEmailForm.valid || addEmailSubmitLoading" (click)="addEmail()">
          @if (addEmailSubmitLoading) {
            <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
          }
          Add email
        </button>
      </div>
    </form>
    <h2 class="mt-[24px]">Primary email address</h2>
    <mat-divider class="m-[8px_0px]!"></mat-divider>
    <p class="mt-[16px]">
      <b>{{ user.primaryEmail?.address }}</b> will be used for account-related notifications and for password resets.
    </p>
    <form [formGroup]="primaryEmailForm">
      <div class="md:max-w-[400px]">
        <mat-form-field class="w-full mt-[16px]" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <mat-icon matPrefix>email</mat-icon>
          <mat-select formControlName="address" [compareWith]="compareById">
            @for (email of user.emails; track email) {
              <mat-option [value]="email" [disabled]="!email.verified"> {{ email.address }} {{ !email.verified ? '(unverified)' : '' }} </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button
          class="whitespace-nowrap mt-[16px]"
          matButton="tonal"
          [disabled]="!primaryEmailForm.valid || primaryEmailSubmitLoading"
          (click)="confirmChangePrimaryEmail.open()"
        >
          @if (primaryEmailSubmitLoading) {
            <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
          }
          Change primary email
        </button>
        <confirm
          #confirmChangePrimaryEmail
          (confirm)="changePrimaryEmail($event)"
          [requiredPassword]="true"
          [requiredVerificationCode]="true"
          [onlyPassword]="true"
          [confirmColor]="'success'"
          requiredPasswordMessage="Please enter your password to continue."
        ></confirm>
      </div>
    </form>
  </div>
}
