@if (userLoading && !user) {
  <mat-spinner class="justify-self-center" diameter="60"></mat-spinner>
} @else if (!user) {
  <div class="justify-self-center flex flex-col items-center"><mat-icon class="icon-size-20 text-muted!">search_off</mat-icon> No account found</div>
} @else {
  <h1>
    Emails
    <mat-spinner class="inline-block! ml-2" diameter="24" [hidden]="!userLoading"></mat-spinner>
  </h1>
  <mat-divider class="mt-2!"></mat-divider>
  <div [class.loading]="userLoading" class="mt-3">
    <ul class="border-muted border-1 rounded-lg">
      @for (email of user.emails; let last = $last; track email.id) {
        <li class="p-4 border-muted" [class.border-b-1]="!last">
          <div class="flex w-full items-center h-10">
            <p class="font-medium wrap-anywhere">
              {{ email.address }}&nbsp;
              @if (user.primaryEmail?.id === email.id) {
                <span>
                  <span class="text-muted">–</span>&nbsp;
                  <span class="text-success">Primary</span>
                </span>
              }
            </p>
            @if (user.primaryEmail?.id !== email.id) {
              <button
                matIconButton
                class="ml-auto error"
                (click)="confirmDelete.open(); $event.preventDefault()"
                [disabled]="removeEmailSubmitLoading"
              >
                @if (removeEmailSubmitLoading === email.id) {
                  <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
                } @else {
                  <mat-icon>delete</mat-icon>
                }
              </button>
              <confirm
                #confirmDelete
                (confirm)="removeEmail($event, email)"
                [requiredPassword]="true"
                [requiredVerificationCode]="true"
                requiredPasswordMessage="Please enter your password to continue."
              ></confirm>
            }
          </div>
          @if (user.primaryEmail?.id === email.id && email.verified) {
            <p class="text-muted text-sm mt-3">This email will be used for account-related notifications and can also be used for password resets.</p>
          }
          <ul class="text-muted text-sm list-[circle] ml-4">
            @if (email.verified) {
              <li class="mt-3">
                <span class="text-info">Verified</span><br />
                <span class="small">
                  This email may be used as login method and for receive notifications. If it's configured as primary email, it can be used for reset
                  your password.
                </span>
              </li>
            }
            @if (!email.verified) {
              <li class="mt-3">
                <span class="text-warning">Unverified</span>
                <a class="text-info ms-4 cursor-pointer" (click)="sendVerificationEmail(email)"> Resend verification email </a><br />
                <span class="text-sm">
                  Unverified email addresses cannot be used to reset your password, as a login method, for receive notifications or set as primary
                  email
                  @if (user.primaryEmail?.id === email.id) {
                    <span>(unless it's your first email)</span>
                  }
                  .
                </span>
              </li>
            }
            @if (email.verified) {
              <li class="mt-3">
                <span>Visible in emails</span><br />
                <span class="text-sm"> This email can be visible in profile emails. </span>
              </li>
            }
            @if (!email.verified && user.primaryEmail?.id !== email.id) {
              <li class="mt-3">
                <span>Not visible in emails</span><br />
                <span class="text-sm"> This email cannot be visible in profile emails. </span>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
    <h2 class="mt-6">Add email address</h2>
    <mat-divider class="mt-2!"></mat-divider>
    <form [formGroup]="addEmailForm">
      <div class="md:max-w-100">
        <mat-form-field class="w-full mt-3" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <input matInput formControlName="address" autocomplete="off" placeholder="{{ user.primaryEmail?.address }}" />
          <mat-icon matPrefix>email</mat-icon>
          <mat-icon matSuffix>
            @if (addEmailAddress?.pending) {
              <mat-spinner diameter="20"></mat-spinner>
            }
          </mat-icon>
          <mat-error>
            <invalid-feedback
              [control]="addEmailAddress"
              name="Email"
              [messages]="{ notIncludedIn: 'Email is already added to your account, please try another one' }"
            ></invalid-feedback>
          </mat-error>
        </mat-form-field>
        <button class="whitespace-nowrap mt-3" matButton="tonal" [disabled]="!addEmailForm.valid || addEmailSubmitLoading" (click)="addEmail()">
          @if (addEmailSubmitLoading) {
            <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
          }
          Add email
        </button>
      </div>
    </form>
    <h2 class="mt-6">Primary email address</h2>
    <mat-divider class="mt-2!"></mat-divider>
    <p class="mt-3">
      <b>{{ user.primaryEmail?.address }}</b> will be used for account-related notifications and for password resets.
    </p>
    <form [formGroup]="primaryEmailForm">
      <div class="md:max-w-100">
        <mat-form-field class="w-full mt-3" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <mat-icon matPrefix>email</mat-icon>
          <mat-select formControlName="address" [compareWith]="compareById">
            @for (email of user.emails; track email.id) {
              <mat-option [value]="email" [disabled]="!email.verified"> {{ email.address }} {{ !email.verified ? '(unverified)' : '' }} </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button
          class="whitespace-nowrap mt-3"
          matButton="tonal"
          [disabled]="!primaryEmailForm.valid || primaryEmailSubmitLoading"
          (click)="confirmChangePrimaryEmail.open()"
        >
          @if (primaryEmailSubmitLoading) {
            <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
          }
          Change primary email
        </button>
        <confirm
          #confirmChangePrimaryEmail
          (confirm)="changePrimaryEmail($event)"
          [requiredPassword]="true"
          [requiredVerificationCode]="true"
          [onlyPassword]="true"
          [confirmColor]="'success'"
          requiredPasswordMessage="Please enter your password to continue."
        ></confirm>
      </div>
    </form>
  </div>
}
