@import 'tailwindcss';

/* Theme definition with breakpoints adjusted for Material */
@theme {
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
}

/* Material + Tailwind fixes */
.mdc-notched-outline__notch {
  @apply border-none;
}

.mat-mdc-icon-button {
  @apply leading-[normal];
}

/* Material mat-button fix: bad positioning when it's inside a mat-form-field */
button[matsuffix] {
  @apply mr-[5px] ml-[3px];
}

/* Base styles */
@layer base {
  /* Reset the user agent margin */
  body {
    @apply m-[0];
  }

  /* Typography sizes */
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  /* Reset default link styles */
  /* a {
    @apply no-underline text-inherit font-[inherit];
  } */

  /* Scrollbar custom style */
  ::-webkit-scrollbar {
    @apply w-[2px] h-[2px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-xs;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[var(--mat-sys-outline)] rounded-xs;
  }

  /* mat-dialog custom style */
  .mat-mdc-dialog-surface {
    @apply rounded-xl!;
  }

  /* mat-menu custom style */
  .mat-mdc-menu-panel {
    @apply rounded-xl!;
  }

  /* OTP centered */
  .n-o-c {
    justify-content: center;
  }
}

/* Utilities */
/* For colored texts */
@utility text-muted {
  color: var(--mat-sys-outline);
}

@utility text-secondary {
  color: var(--mat-sys-secondary);
}

@utility text-tertiary {
  color: var(--mat-sys-tertiary);
}

@utility text-error {
  color: var(--mat-sys-error);
}

@utility text-success {
  color: #198754;
}

@utility text-warning {
  color: #ffc107;
}

@utility text-info {
  color: #3dd5f3;
}

@utility border-muted {
  border-color: var(--mat-sys-outline);
}

/* For icon sizes */
@utility icon-size-* {
  font-size: --spacing(--value(integer)) !important;
  width: --spacing(--value(integer)) !important;
  height: --spacing(--value(integer)) !important;
  font-size: --value([*]) !important;
  width: --value([*]) !important;
  height: --value([*]) !important;
}

/* For image thumbnails */
@utility img-thumbnail {
  border: 1px solid var(--mat-sys-outline);
  padding: 2px;
}

/* For loading blur effects on content */
@utility loading {
  pointer-events: none;
  filter: blur(0.1rem);
}

/* For put a centered overlay element over another*/
@utility overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Components */
@layer components {
  /* Main nav component */
  .main-nav {
    @apply fixed h-[calc(100vh-64px)] w-20 max-md:hidden! z-100! bg-[var(--mat-sys-surface)];
  }

  .main-nav-full {
    @apply lg:w-60;
  }

  /* Secondary nav component (not used) */
  /* .secondary-nav {
    @apply w-60! rounded-none! top-[63px]! z-50! max-md:-ml-6 bg-[#b4b4b4]!;
  } */

  /* Main content components */
  .main-content {
    @apply block py-0 ml-20 mb-16 max-md:px-6 max-md:ml-0;
  }

  .main-content-full {
    @apply lg:ml-60;
  }

  /* mat-multi-page-menu component */
  .mat-multi-page-menu {
    @apply w-75;
  }

  .mat-multi-page-menu-submenu {
    @apply ml-3 mr-0! order-2;
  }

  .mat-menu-item-info {
    @apply py-2! px-3! text-center;
  }

  .mat-menu-item-noicon {
    @apply ml-9;
  }

  /* dialog-with-close component */
  .dialog-with-close {
    @apply flex! items-center m-0! mt-2! -ml-4! gap-4;
  }

  .dialog-with-close > :last-child {
    @apply ml-auto!;
  }

  /* dialog-icon-item component */
  .dialog-icon-item {
    @apply flex items-center gap-4 my-5 wrap-anywhere;
  }

  .dialog-icon-item > mat-icon {
    @apply shrink-0;
  }

  /* headed-tab-group */
  .headed-tabs .mat-mdc-tab-label-container,
  .headed-tabs .mat-mdc-tab-link-container {
    @apply border-0!;
  }

  /* nav-item component */
  .nav-item {
    @apply rounded-xl!;
  }

  .nav-item-sm {
    @apply flex-col py-3! px-0! h-17!;
  }

  .nav-item-sm span {
    @apply text-xs!;
  }

  /* General Operation component */
  .operation-card {
    @apply p-6 pb-5 m-auto mt-3 max-w-185 max-sm:p-0 max-sm:border-0!;
  }

  .operation-content {
    @apply grid! grid-cols-[repeat(5,1fr)] gap-4 p-0!;
  }

  .operation-content-left {
    @apply col-span-3 max-w-110 flex flex-col max-sm:col-span-5 max-sm:w-full;
  }

  .operation-content-right {
    @apply col-span-2 w-75 flex flex-col gap-4 max-sm:col-span-5 max-sm:w-full;
  }

  .operation-content-right > :last-child {
    @apply mb-[10px]!;
  }

  .operation-content-right > mat-form-field:last-child {
    @apply mb-[18px]!;
  }

  .operation-actions {
    @apply justify-end gap-2 p-0!;
  }

  .operation-icon {
    @apply icon-size-25 max-sm:icon-size-20;
  }
}
