<div [class]="searchClass">
  @if (advancedCollapsed) {
    <mat-form-field class="search w-full" [subscriptSizing]="'dynamic'" appearance="outline">
      <input
        [(ngModel)]="searchString"
        [class]="searchInputClass"
        [disabled]="loading"
        (input)="onSearch(true)"
        (keyup)="onKey($event)"
        matInput
        type="text"
        placeholder="Search..."
      />
      @if (loading) {
        <mat-icon matSuffix>
          <mat-spinner diameter="24"></mat-spinner>
        </mat-icon>
      } @else {
        <button (click)="onSearch(false)" matIconButton matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      }
    </mat-form-field>
  }
  @if (!advancedCollapsed) {
    <div
      class="form-control form-control-md bg-dark-subtle d-flex align-items-center flex-row flex-wrap ps-1 pe-5 pt-1 pb-0"
      [class]="searchTagsClass"
    >
      @if (searchAttributes.length <= 0) {
        <span class="small input-tags-placeholder text-muted ms-1 pb-1"> Search by adding tags </span>
      }
      <!--search tags-->
      @for (searchAttribute of searchAttributes; track searchAttribute) {
        <div
          class="badge d-flex flex-row small align-items-center tag-edit mb-1 ms-0 me-1
        bg-{{ searchAttribute.attribute.color ? searchAttribute.attribute.color : defaultTagColor }}
        text-{{ searchAttribute.attribute.titleColor ? searchAttribute.attribute.titleColor : defaultTagTitleColor }}"
          [class]="searchTagEditClass + inputByType(searchAttribute.attribute.type) !== 'checkbox' ? 'flex-sm-nowrap flex-wrap' : ''"
        >
          <!--search tag title (with or without category)-->
          <div class="d-flex flex-column mb-sm-0 mx-2 mb-1">
            @if (searchAttribute.attribute.category) {
              <span
                class="badge p-0 text-{{
                  searchAttribute.attribute.categoryColor ? searchAttribute.attribute.categoryColor : defaultTagCategoryColor
                }}"
              >
                {{ searchAttribute.attribute.category }}
              </span>
            }
            <span>
              {{ searchAttribute.attribute.title ? searchAttribute.attribute.title : searchAttribute.attribute.name }}
            </span>
          </div>
          <!--search tag spaced zone?-->
          <div [class]="inputByType(searchAttribute.attribute.type) !== 'checkbox' ? 'd-sm-none order-3 w-100' : ''"></div>
          <!--search tag input (text/checkbox/select)-->
          <div
            class="pb-sm-0 px-sm-0 px-1 pb-1"
            [class]="inputByType(searchAttribute.attribute.type) !== 'checkbox' ? 'order-sm-2 flex-fill order-4' : ''"
          >
            @if (!['select', 'checkbox'].includes(inputByType(searchAttribute.attribute.type))) {
              <input
                class="form-control form-control-xs"
                [(ngModel)]="searchAttribute.value"
                [type]="inputByType(searchAttribute.attribute.type)"
                (ngModelChange)="onSearch(true)"
              />
            }
            @if (inputByType(searchAttribute.attribute.type) === 'checkbox') {
              <input
                class="form-check-input"
                [checked]="searchAttribute.value"
                (change)="searchAttribute.value = !searchAttribute.value"
                (ngModelChange)="onSearch(true)"
                type="checkbox"
              />
            }
            @if (inputByType(searchAttribute.attribute.type) === 'select') {
              <select class="form-select form-select-xs" [(ngModel)]="searchAttribute.value" (ngModelChange)="onSearch(true)">
                @for (option of typeAsArray(searchAttribute.attribute.type); track option; let isFirst = $first) {
                  <option [ngValue]="option">
                    {{ option }}
                  </option>
                }
              </select>
            }
          </div>
          <!--search tag buttons-->
          <div class="flex-fill text-end" [class]="inputByType(searchAttribute.attribute.type) !== 'checkbox' ? 'order-sm-3 order-2' : ''">
            <!-- <button
                class="btn btn-sm no-outline border-0 p-0 px-1 text-{{
                  searchAttribute.attribute.titleColor ? searchAttribute.attribute.titleColor : defaultTagTitleColor
                }}"
                [tp]="criteria_menu"
                #criteria_tooltip="tippy"
                trigger="click"
                placement="bottom"
                [tpData]="searchAttribute"
                [tpInteractive]="true"
                [tpIsEnabled]="criteriaByType(searchAttribute.attribute.type).length > 1"
              >
                <mat-icon>{{ criteriaIcon(searchAttribute.criteria) }}</mat-icon>
              </button> -->
            <ng-template #criteria_menu let-data="searchAttribute">
              <div class="d-flex flex-column mt-1">
                <!-- @for (criteria of criteriaByType(searchAttribute.attribute.type); track criteria) {
                    <button
                      class="btn btn-sm btn-dark no-outline p-1 mb-1 pe-pointer"
                      (click)="changeCriteria(searchAttribute, criteria, criteria_tooltip)"
                    >
                      <mat-icon>{{ criteriaIcon(criteria) }}</mat-icon>
                    </button>
                  } -->
              </div>
            </ng-template>
            <button
              class="btn btn-sm no-outline border-0 p-0 px-1 text-{{
                searchAttribute.attribute.titleColor ? searchAttribute.attribute.titleColor : defaultTagTitleColor
              }}"
              (click)="changeSort(searchAttribute)"
            >
              <mat-icon>{{ sortIcon(searchAttribute.sort) }}</mat-icon>
            </button>
            <button
              class="btn btn-sm no-outline border-0 p-0 px-1 text-{{
                searchAttribute.attribute.titleColor ? searchAttribute.attribute.titleColor : defaultTagTitleColor
              }}"
              (click)="removeSearchAttribute(searchAttribute)"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  }

  @if (advanced) {
    <div class="d-flex flex-column">
      <div class="d-flex align-items-start flex-row-reverse">
        <a
          class="pe-pointer dropdown-toggle text-body no-dropdown-arrow d-flex flex-row"
          [attr.aria-expanded]="!advancedCollapsed"
          (click)="advancedCollapse.toggle()"
        >
          <b class="me-2">Advanced Search</b>
          <mat-icon class="small">{{ advancedCollapsed ? 'expand-more' : 'expand-less' }}</mat-icon>
        </a>
        <div class="flex-fill">
          @if (!advancedCollapsed) {
            <div class="btn-group btn-group-xs mt-1" role="group">
              <input class="btn-check" id="optional-and" [(ngModel)]="optional" [value]="false" type="radio" name="optional" />
              <label class="btn btn-outline-secondary no-outline m-0" for="optional-and">AND</label>
              <input class="btn-check" id="optional-or" [(ngModel)]="optional" [value]="true" type="radio" name="optional" />
              <label class="btn btn-outline-secondary no-outline m-0" for="optional-or">OR</label>
            </div>
          }
        </div>
      </div>
      <!-- <div #advancedCollapse="ngbCollapse" [(ngbCollapse)]="advancedCollapsed"> -->
      <mat-expansion-panel #advancedCollapse="matExpansionPanel">
        @for (attribute of attributes; track attribute) {
          <div
            class="badge me-1 pe-pointer tag-attribute
        bg-{{ attribute.color ? attribute.color : defaultTagColor }}
        text-{{ attribute.titleColor ? attribute.titleColor : defaultTagTitleColor }}"
            [class]="searchTagClass"
            (click)="addSearchAttribute(attribute)"
          >
            <div class="d-flex flex-column mx-2" style="min-height: 1.5rem">
              <span class="badge p-0 text-{{ attribute.categoryColor ? attribute.categoryColor : defaultTagCategoryColor }}">
                {{ attribute.category }}&nbsp;
              </span>
              <span [style]="!attribute.category ? 'margin-top: -0.25rem' : ''">
                {{ attribute.title ? attribute.title : attribute.name }}
              </span>
            </div>
          </div>
        }
      </mat-expansion-panel>
    </div>
  }
</div>
