<mat-card class="card" [appearance]="$isSmallScreen ? 'outlined' : 'raised'" [class.full]="$isSmallScreen">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-card-content class="content">
      <div class="content-header" [class.full]="$isSmallScreen">
        <div class="avatar">
          <mat-icon class="action-icon" [class.full]="!$isSmallScreen">person_add</mat-icon>
        </div>
        <h1>Create an account</h1>
        <p class="mat-muted">Please provide your information to continue.</p>
      </div>
      <div class="content-fields" [class.full]="$isSmallScreen">
        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" autocomplete="off" />

          <mat-icon matSuffix>
            @if (email.pending) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              email
            }
          </mat-icon>

          <mat-error>
            <invalid-feedback name="Email" [control]="email"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" autocomplete="off" />

          <mat-icon matSuffix>
            @if (username.pending) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              person
            }
          </mat-icon>

          <mat-error>
            <invalid-feedback
              name="Username"
              [control]="username"
              [messages]="{ pattern: 'Username can only have characters, numbers and _ or - symbols' }"
            ></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" *var="{ active: true } as hidden">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="password" autocomplete="new-password" />
          <button
            type="button"
            matIconButton
            matSuffix
            (click)="hidden.active = !hidden.active; $event.stopPropagation()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidden.active"
          >
            <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <invalid-feedback name="Password" [control]="password"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" *var="{ active: true } as hidden">
          <mat-label>Repeat Password</mat-label>
          <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="off" />
          <button
            type="button"
            matIconButton
            matSuffix
            (click)="hidden.active = !hidden.active; $event.stopPropagation()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidden.active"
          >
            <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <invalid-feedback name="Password" [control]="confirmPassword" [messages]="{ equalTo: 'Passwords must be equals' }"></invalid-feedback>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <a matButton class="login-button" routerLink="/login">Did you already have an account?</a>
      <span class="grow"></span>
      <button class="whitespace-nowrap" matButton="tonal" [disabled]="!registerForm.valid || submitLoading">
        @if (submitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Sign up
      </button>
    </mat-card-actions>
  </form>
</mat-card>
