<mat-card class="operation-card" [appearance]="$isSmallScreen ? 'outlined' : 'raised'">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-card-content class="operation-content">
      <div class="operation-content-left">
        <mat-icon class="operation-icon"> person_add </mat-icon>
        <h1 class="mt-3">Create an account</h1>
        <p class="text-muted mt-3">Please provide your information to continue.</p>
      </div>
      <div class="operation-content-right">
        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" autocomplete="off" />

          <mat-icon matSuffix>
            @if (email.pending) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              email
            }
          </mat-icon>

          <mat-error>
            <invalid-feedback name="Email" [control]="email"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <div formGroupName="profile">
          <mat-form-field class="w-full" appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" [hideRequiredMarker]="true">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" autocomplete="off" />

            <mat-icon matSuffix>person</mat-icon>

            <mat-error>
              <invalid-feedback [control]="name" name="Name" [messages]="{ pattern: 'Name can only have characters and numbers' }"></invalid-feedback>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" [floatLabel]="'always'" [subscriptSizing]="'dynamic'" [hideRequiredMarker]="true">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" autocomplete="off" />

          <mat-icon matSuffix>
            @if (username.pending) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              person_pin_circle
            }
          </mat-icon>

          <mat-error>
            <invalid-feedback
              name="Username"
              [control]="username"
              [messages]="{ pattern: 'Username can only have characters, numbers and _ or - symbols' }"
            ></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          [floatLabel]="'always'"
          [subscriptSizing]="'dynamic'"
          [hideRequiredMarker]="true"
          *var="{ active: true } as hidden"
        >
          <mat-label>Password</mat-label>
          <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="password" autocomplete="new-password" />
          <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
            <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <invalid-feedback name="Password" [control]="password"></invalid-feedback>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          [floatLabel]="'always'"
          [subscriptSizing]="'dynamic'"
          [hideRequiredMarker]="true"
          *var="{ active: true } as hidden"
        >
          <mat-label>Repeat Password</mat-label>
          <input matInput [type]="hidden.active ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="off" />
          <button matIconButton matSuffix (click)="hidden.active = !hidden.active; $event.preventDefault()">
            <mat-icon>{{ hidden.active ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <invalid-feedback name="Password" [control]="confirmPassword" [messages]="{ equalTo: 'Passwords must be equals' }"></invalid-feedback>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="operation-actions">
      <a matButton class="justify-self-start" routerLink="/login">Did you already have an account?</a>
      <button class="whitespace-nowrap ml-auto" matButton="tonal" [disabled]="!registerForm.valid || submitLoading">
        @if (submitLoading) {
          <mat-icon><mat-spinner diameter="17"></mat-spinner></mat-icon>
        }
        Sign up
      </button>
    </mat-card-actions>
  </form>
</mat-card>
